/**
 * Date: 2019/1/6
 * Author: beicai
 * Description: _loading
 */
.bouncing__item {
  margin: 0 2px;
  width: 8px;
  height: 8px;
  background: $blue;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}

.donut {
  @extend .inline-middle;
  border: 2px solid;
  border-top-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: donut-spin 1.5s linear infinite;

  &.large {
    width: 40px;
    height: 40px;
  }
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
