/**
 * Date: 2018/12/28
 * Author: beicai
 * Description:
 */
.overlay.show {
  @extend .pos-abs;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(map_get($colors, black), 0.2);
}

.dialog {
  @extend .pos-abs;
  right: 0;
  bottom: 0;
  left: 0;
}
